.panel {
  background: #dfe3e6;
  border-radius: 3px;
  width: 272px;
  overflow: hidden;
  margin-right: 12px;
  max-height: 100%;
  display: inline-block;
  vertical-align: top;

  &__title {
    padding: 12px;
    padding-bottom: 0;
  }

  &--empty {
    .add-form {
      margin-top: 12px;
    }
  }

  &__items {
    padding: 12px 12px 0 12px;
  }
}
